/*common.css*/
:root {
    --main-text-color: #fafafa;
    --main-bg-color: #1B1611;
    --primary-font-family: 'Syne', sans-serif;
}

/*block - new releases*/

#new-releases {
    background-image: url(./images/cover2.jpg); 
    background-position: center center;
    background-size: cover;
    height: 36.5rem;
}

.text-center {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 90px;
    font-weight: 700;
    margin-top: 10%;
}

.btn-blue {
    color: #fafafa;
    font-size: 30px;
    text-decoration: none;

    background-color:#212AFF;
    background-size: 100% 300%;
    padding: 10px 100px;
    border: 3px midnightblue solid;

    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-blue:hover {
    background-image: linear-gradient(to right, #212AFF, #28FD64)
}




/*running line*/

.running-line {
    background-color: #28FD64;
}
