/*header*/

#main-page-nav-menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}

#main-page-nav-menu ul a {
    color: var(--main-text-color);
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 2rem;
}

#main-page-nav-menu ul a:hover {
    color: #28FD64;
}


